@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --black: #000000;
  --darkest-grey: #0f0f0f;
  --darker-grey: #1a1a1a;
  --dark-grey: #262626;
  --grey: #333333;
  --light-grey: #404040;
  --lighter-grey: #797979;
  --lightest-grey: #cacaca;
  --white: #ffffff;
  --color-szkolna-bursa: #067e00;
  --color-studencka-bursa: rgb(135, 41, 30);
  --color-zmmpir: #0e496b;
  --color-biuro: #EF7F2C;
  --color-memonks: red;
  --color-redempaw: #80361E;
  --text-gradient: linear-gradient(var(--lighter-grey), var(--dark-grey));
  --text-gradient-light: linear-gradient(var(--white), var(--darker-grey));
  --z-tooltip: 10;
  --z-fixed: 100;
  --content-max-width: 968px;
  --header-height: 3rem;
  --biggest-font-size: 5rem;
  --bigger-font-size: 3.5rem;
  --big-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --text-line-height: 2rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
}
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 7.5rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 4rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
@media screen and (max-width: 500px) {
  :root {
    --big-font-size: 1.8rem;
    --h3-font-size: 1.2rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  padding: 0;
  background-color: var(--darkest-grey);
  color: var(--white);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 4rem 0 2rem;
}
.section__title {
  text-align: center;
}
.section__title-gradient {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.min-height-100 {
  min-height: 100vh;
}

.main {
  overflow: hidden;
}

.container {
  max-width: var(--content-max-width);
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main-text {
  background: var(--text-gradient-light);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: var(--font-medium);
  color: transparent;
  font-size: 7rem;
  text-align: center;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: transparent;
  transition: background-color 0.2s ease;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  color: var(--white);
}
.nav__toggle {
  font-size: 1.2rem;
  color: var(--white);
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--black);
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0 3rem;
    transition: 0.4s;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.nav__link {
  color: var(--white);
  font-size: var(--h2-font-size);
  text-transform: uppercase;
  font-weight: var(--font-semi-bold);
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.4s;
}
.nav__link:hover {
  background: var(--white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.nav__close {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
  color: var(--white);
  cursor: pointer;
}

.show-menu {
  top: 0;
}

.scroll-header {
  background-color: var(--darkest-grey);
}

.active-link {
  background: var(--white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.about {
  display: grid;
  align-content: center;
}
.about .container {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr)) 50px repeat(2, minmax(150px, 1fr));
  grid-template-rows: repeat(4, minmax(150px, 1fr));
  grid-gap: 1rem;
}
@media screen and (max-width: 1000px) {
  .about .container {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, auto);
  }
}
@media screen and (max-width: 400px) {
  .about .container {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, auto);
  }
}
.about .container .main-text {
  grid-row: 1/2;
  grid-column: 1/7;
  justify-self: center;
  align-self: center;
}
@media screen and (max-width: 1000px) {
  .about .container .main-text {
    grid-row: 1/2;
    grid-column: 1/8;
  }
}
@media screen and (max-width: 400px) {
  .about .container .main-text {
    grid-row: 1/2;
    grid-column: 1/8;
  }
}
.about .container .photo-1 {
  grid-row: 2/4;
  grid-column: 1/3;
  justify-self: center;
  align-self: center;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}
.about .container .photo-1:hover {
  filter: grayscale(0);
}
@media screen and (max-width: 1000px) {
  .about .container .photo-1 {
    grid-row: 2/4;
    grid-column: 2/5;
  }
}
@media screen and (max-width: 600px) {
  .about .container .photo-1 {
    grid-row: 2/4;
    grid-column: 1/6;
  }
}
@media screen and (max-width: 400px) {
  .about .container .photo-1 {
    grid-row: 2/4;
    grid-column: 1/6;
  }
}
.about .container .photo-2 {
  grid-row: 3/5;
  grid-column: 2/4;
  justify-self: center;
  align-self: center;
}
@media screen and (max-width: 1000px) {
  .about .container .photo-2 {
    grid-row: 3/5;
    grid-column: 4/7;
  }
}
@media screen and (max-width: 600px) {
  .about .container .photo-2 {
    grid-row: 3/5;
    grid-column: 3/8;
  }
}
@media screen and (max-width: 400px) {
  .about .container .photo-2 {
    grid-row: 3/5;
    grid-column: 3/8;
  }
}
.about .container .description {
  grid-row: 2/5;
  grid-column: 5/7;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  color: var(--lightest-grey);
}
.about .container .description p {
  text-align: justify;
}
@media screen and (max-width: 1000px) {
  .about .container .description {
    grid-row: 5/6;
    grid-column: 2/7;
  }
}
@media screen and (max-width: 600px) {
  .about .container .description {
    grid-row: 5/6;
    grid-column: 1/8;
  }
}
.about .container img {
  border: 6px solid var(--dark-grey);
}

.projects {
  display: grid;
  align-content: center;
}
.projects .container-100 {
  display: grid;
  grid-template-columns: 1fr;
}
.projects .container-100 .main-text {
  margin-bottom: 5rem;
}
.projects .container-100 > div:not(:first-of-type) {
  display: grid;
  grid-template-columns: 50vw 50vw;
}
@media screen and (max-width: 1200px) {
  .projects .container-100 > div:not(:first-of-type) {
    grid-template-columns: 100%;
    grid-template-areas: "description" "photo";
  }
  .projects .container-100 > div:not(:first-of-type) .photo {
    grid-area: photo;
  }
  .projects .container-100 > div:not(:first-of-type) .description {
    grid-area: description;
  }
}
.projects .container-100 > div:not(:first-of-type) .photo {
  width: 50vw;
  height: 500px;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .projects .container-100 > div:not(:first-of-type) .photo {
    width: 90%;
    margin: auto;
    margin-bottom: var(--mb-2-5);
  }
}
@media screen and (max-width: 800px) {
  .projects .container-100 > div:not(:first-of-type) .photo {
    height: 300px;
  }
}
@media screen and (max-width: 400px) {
  .projects .container-100 > div:not(:first-of-type) .photo {
    height: 200px;
  }
}
.projects .container-100 > div:not(:first-of-type) .photo img {
  display: block;
}
.projects .container-100 > div:not(:first-of-type) .description {
  align-self: center;
  justify-self: center;
  margin: 0 2rem;
}
@media screen and (max-width: 1200px) {
  .projects .container-100 > div:not(:first-of-type) .description {
    margin: 0 1.5rem;
    margin-bottom: var(--mb-2-5);
  }
}
@media screen and (max-width: 700px) {
  .projects .container-100 > div:not(:first-of-type) .description {
    margin: 0 0.5rem;
    margin-bottom: var(--mb-2-5);
  }
}
.projects .container-100 > div:not(:first-of-type) .description p {
  text-align: center;
  margin: 1rem 0;
}
.projects .container-100 > div:not(:first-of-type) .description p:nth-of-type(1) {
  font-size: var(--big-font-size);
  color: var(--lightest-grey);
}
.projects .container-100 > div:not(:first-of-type) .description p:nth-of-type(2) {
  font-size: var(--h3-font-size);
  color: var(--lighter-grey);
}
.projects .container-100 > div:not(:first-of-type) .description p:nth-of-type(3) {
  transition: color 0.3s ease;
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
}

#szkolna_bursa {
  background-image: url("../img/projects/szkolna_bursa.webp");
}

.szkolna_bursa_text {
  color: var(--color-szkolna-bursa);
}
.szkolna_bursa_check {
  transition: color 0.2s ease;
}
.szkolna_bursa_check:hover {
  color: var(--color-szkolna-bursa);
}

#studencka_bursa {
  background-image: url("../img/projects/studencka_bursa.webp");
}

.studencka_bursa_text {
  color: var(--color-studencka-bursa);
}
.studencka_bursa_check {
  transition: color 0.2s ease;
}
.studencka_bursa_check:hover {
  color: var(--color-studencka-bursa);
}

#zmmpir {
  background-image: url("../img/projects/strona_zwiazkowa.webp");
}

.zmmpir_text {
  color: var(--color-zmmpir);
}
.zmmpir_check {
  transition: color 0.2s ease;
}
.zmmpir_check:hover {
  color: var(--color-zmmpir);
}

#biuro {
  background-image: url("../img/projects/biuro.webp");
}

.biuro_text {
  color: var(--color-biuro);
}
.biuro_check {
  transition: color 0.2s ease;
}
.biuro_check:hover {
  color: var(--color-biuro);
}

#memonks {
  background-image: url("../img/projects/memonks.webp");
}

.memonks_text {
  color: var(--color-memonks);
}
.memonks_check {
  transition: color 0.2s ease;
}
.memonks_check:hover {
  color: var(--color-memonks);
}

#redempaw {
  background-image: url("../img/projects/redempaw.webp");
}

.redempaw_text {
  color: var(--color-redempaw);
}
.redempaw_check {
  transition: color 0.2s ease;
}
.redempaw_check:hover {
  color: var(--color-redempaw);
}

#szkolna_bursa,
#studencka_bursa,
#zmmpir,
#memonks,
#biuro,
#redempaw {
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}
#szkolna_bursa:hover,
#studencka_bursa:hover,
#zmmpir:hover,
#memonks:hover,
#biuro:hover,
#redempaw:hover {
  filter: grayscale(0);
}

.skills {
  margin-bottom: var(--mb-2-5);
}
.skills .main-text {
  margin-bottom: 5rem;
}
.skills .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: var(--mb-1);
}
.skills .container > div {
  height: 250px;
  background-color: var(--lightest-grey);
  padding: 1rem;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(auto-fill, 1fr);
}
.skills .container > div > div:nth-of-type(1) {
  grid-row: 1/8;
  grid-column: 1;
  z-index: var(--z-tooltip);
  display: flex;
  align-items: flex-end;
}
.skills .container > div > div:nth-of-type(1) .svg_logo {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.skills .container > div > div:nth-of-type(1) .svg_logo.big_logo {
  padding: 1rem;
}
.skills .container > div > div:nth-of-type(1) .svg_logo.small_logo {
  height: -webkit-fill-available;
}
.skills .container > div > div:nth-of-type(2) {
  grid-row: 6/10;
  grid-column: 1;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: var(--grey);
  border-radius: 1.5rem;
  transition: background-color 0.5s ease;
}
.skills .container > div > div:nth-of-type(2) > div {
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 1rem;
}
.skills .container > div > div:nth-of-type(2) > div > div {
  width: 100%;
  height: 10px;
  background-color: black;
  border-radius: 5px;
  margin: 0 2px;
}
.skills .container > div > div:nth-of-type(2) > div > div.active {
  background-color: green;
}
.skills .container > div:hover > div:nth-of-type(2) {
  background-color: inherit;
}

.footer {
  background-color: var(--black);
  overflow-x: hidden;
}
.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--mb-2-5);
}
.footer .container > div .contact div {
  font-weight: var(--font-semi-bold);
  color: var(--white);
  margin-bottom: var(--mb-2-5);
}
.footer .container > div .contact li {
  color: var(--lighter-grey);
  transition: color 0.3s ease;
}
.footer .container > div .contact li:hover {
  color: var(--lightest-grey);
}
.footer .container > div .social-links {
  display: flex;
}
.footer .container > div .social-links img {
  width: 40px;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  cursor: pointer;
  margin: 0 0.5rem;
}
.footer .container > div .social-links img:hover {
  filter: grayscale(0);
}
@media screen and (max-width: 600px) {
  .footer .container > div {
    flex-direction: column;
    justify-content: center;
  }
  .footer .container > div > div {
    margin-bottom: var(--mb-2-5);
  }
}
.footer .container .copyright {
  margin: auto;
  color: var(--light-grey);
  transition: color 0.3s ease;
}
.footer .container .copyright:hover {
  color: var(--lightest-grey);
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  background-color: var(--darker-grey);
  border-radius: 0.25rem;
  padding: 0.45rem;
  opacity: 9;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}
.scrollup:hover {
  background-color: var(--black);
  opacity: 1;
}
.scrollup__icon {
  color: var(--white);
  font-size: 1.35rem;
}

.show-scroll {
  bottom: 5rem;
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--lighter-grey);
}

@media screen and (max-width: 1000px) {
  .main-text {
    font-size: 5rem;
    font-weight: var(--font-semi-bold);
  }
}
@media screen and (max-width: 766px) {
  .main-text {
    font-size: 4rem;
    font-weight: var(--font-semi-bold);
  }
}
@media screen and (max-width: 564px) {
  .main-text {
    font-size: 3rem;
    font-weight: var(--font-semi-bold);
  }
}
@media screen and (max-width: 340px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .section__title {
    font-size: var(--big-font-size);
  }
  .main-text {
    font-size: 2rem;
    font-weight: var(--font-semi-bold);
  }
}
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    flex-direction: row;
    -moz-column-gap: 3.5rem;
         column-gap: 3.5rem;
  }
  .nav__link {
    font-size: var(--normal-font-size);
    text-transform: initial;
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .footer__container {
    grid-template-columns: 0.4fr 0.7fr 0.7fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__container {
    padding-top: 3rem;
  }
  .footer__copy {
    margin-top: 9rem;
  }
}/*# sourceMappingURL=style.css.map */